@import "tailwindcss";
@theme {
  --breakpoint-xs: 300px;
}

html {
  scroll-behavior: smooth;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.navbar-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: auto;
}

.nav-link {
  border-left: 1px solid #0b022d;
}

.nav-link a {
  color: #0b022d;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25em;
  cursor: pointer;
}

.nav-links li a:hover {
  background-color: #0b022d;
  color: #fff;
}

.nav-link:last-child {
  border-right: 1px solid #0b022d;
}

.logo {
  object-fit: cover;
  height: 80%;
  width: 80%;
}

.btn-search {
  color: #fff;
  background-color: #0b022d;
  position: absolute;
  bottom: 0px;
  right: 10px;
  border: 1px solid #0b022d;
  border-radius: 8px;
  font-weight: 600;
}

.btn-search:hover {
  background-color: #fff;
  color: #0b022d;
  border: 1px solid #0b022d;
}

.mobile-btn-login {
  border: 1px solid #0b022d;
}

.mobile-btn-login:hover {
  border: 1px solid #0b022d;
  background-color: #0b022d;
  color: #fff;
}

.btn-toggle-mobile {
  color: #0b022d;
  border: 1px solid #0b022d;
}

.mobile-navlink:hover {
  color: #0b022d;
  background-color: #fff;
}

.mobile-navlink a {
  display: block;
  width: 100%;
  padding: 8px 12px; /* Optional: Adds some spacing */
}

.mobile-navlink a:hover {
  background-color: #fff;
  color: #0b022d;
}

.btn-mobile-search {
  color: #fff;
  background-color: #0b022d;
  position: absolute;
  bottom: 8px;
  right: 8px;
  border: 1px solid #0b022d;
  border-radius: 8px;
  padding: 5px;
}

.footer-wrapper {
  width: 100%;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Top shadow */
}
